.nav--logo{
  width: 25px;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}

.nav--container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%
}

.nav--left{
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  position: absolute;
}

.nav--center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

}

.nav--right{
  position: absolute;
  right: 0;
}

.nav--center > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav--left > h1{
  padding-left: 15px;
  color: #C90D12;
  font-family: 'Noto Serif';
}

.nav--center > div > h3{
  font-family: "Rethink Sans";
  font-weight: 300;
  letter-spacing: -0.98px;
  padding-right: 15px;
}

.nav--center > div > svg{
  padding-right: 15px;
}

.main--background{
  height: 500px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.main--background > img{
  width: 100%;
  z-index: -5;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.main--background > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main--left{
  left: 20px;
  position: inherit;
}

.main--right{
  right: 20px;
  position: inherit;
}


.main--text{
  position: relative;
  color: white;
  font-family: 'Bricolage Grotesque';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--text > h1{
  font-weight: 600;
  font-size: 80px;
  margin-block-start: 0px;
  margin-block-end: 10px;
  text-shadow: 0px 1px 1px rgba(149, 157, 165, 0.2);
}

.main--text > h4{
  font-weight: 200;
  margin-block-start: 0px;
  font-size: 40px;
  font-style: italic;
  text-shadow: 0px 1px 1px rgba(149, 157, 165, 0.2);
}

.main--button{
  position: relative;
  background-color: black;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main--button > svg{
  color: white;
  width: 30px;
}

.recipe--card--container{
  height: 400px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  background-color: white;
}

.recipe--image--container{
  height: 40%;
  border-radius: 10px;
}

.recipe--image--container > img{
  height: 160px;
  width: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.recipe--title{
  font-family: 'Bricolage Grotesque'; 
  font-size: 21px;
}

.recipe--text{
  padding: 10px;
}

.recipe--title--container{
  min-height: 78px;
}

.recipe--description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Rethink Sans";
  font-weight: 100;
  color: gray;
  font-size: 12px;
  margin-block-end: 0px;
}

.recipe--price{
  display: flex;
  flex-direction: row;
}

.recipe--price > h4{
  font-family: "Rethink Sans";
  padding-right: 5px;
  font-size: 30px;
  margin-block-start: 25px;
  margin-block-end: 0px;
}

.recipe--price > h5{
  font-family: "Rethink Sans";
  padding-right: 5px;
  font-size: 14px;
  margin-block-end: 0px;
}

.recipe--text > div{
  display: flex;
  flex-direction: row;
}

.recipe--text > div > img{
  height: 12px;
  opacity: .7;
  padding-right: 5px;
}

.logo--button{
  color: #C90D12;
  font-family: 'Noto Serif';
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5%;
  top: 35%;
  text-align: center;
  display: inline-block;
}

.card--carousel--container{
  background-color: #DADADA;
  padding-bottom: 20px;
}


.carousel .thumbs-wrapper {
  margin: 0 !important;
}

.carousel .thumbs {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.carousel .control-dots {
  margin-block-end: 0px;
  margin-bottom: 0px !important;
  background-color: #DADADA;
}

.card--carousel--button{
  width: 60px;
  height: 60px;
  border: none;
  background-color: white;
  border-radius: 40px;
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.card--carousel--button > svg {
  height: 20px;
}

.carousel--title{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}

.carousel--title > h1{
  font-family: 'Bricolage Grotesque';
  font-size: 50px;
  font-weight: 100;
  padding-left: 10px;
  margin-block-end: 10px;
}

.second--title{
  color: #C90D12;
  font-style: italic;
}

.carousel--description{
  padding-left: 40px;
  font-family: "Rethink Sans";
  color: gray;
}

.carousel--description > h5{
  font-weight: 100;
  font-size: 18px;
  margin-block-start: 0px;
}

.carousel--cards{
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.info--card--container{
  height: 150px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.info--card--icon > svg{
  height: 30px;
}

.info--card--title > h2{
  font-family: "Rethink Sans";
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 20px;
}

.info--card--description > h4{
  font-family: "Rethink Sans";
  color: gray;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
  margin-block-start: 5px;
}