.nav--logo{
  width: 25px;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}

.nav--container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%
}

.nav--left{
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  position: absolute;
}

.nav--center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

}

.nav--right{
  position: absolute;
  right: 0;
}

.nav--center > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav--left > h1{
  padding-left: 15px;
  color: #C90D12;
  font-family: 'Noto Serif';
}

.nav--center > div > h3{
  font-family: "Rethink Sans";
  font-weight: 300;
  letter-spacing: -0.98px;
  padding-right: 15px;
}

.nav--center > div > svg{
  padding-right: 15px;
  cursor: pointer;
}

.main--background{
  height: 500px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.main--background > img{
  width: 100%;
  z-index: -5;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.main--background > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main--left{
  left: 20px;
  position: inherit;
}

.main--right{
  right: 20px;
  position: inherit;
}


.main--text{
  position: relative;
  color: white;
  font-family: 'Bricolage Grotesque';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--text > h1{
  font-weight: 600;
  font-size: 80px;
  margin-block-start: 0px;
  margin-block-end: 10px;
  text-shadow: 0px 1px 1px rgba(149, 157, 165, 0.2);
}

.main--text > h4{
  font-weight: 200;
  margin-block-start: 0px;
  font-size: 40px;
  font-style: italic;
  text-shadow: 0px 1px 1px rgba(149, 157, 165, 0.2);
}

.main--button{
  position: relative;
  background-color: black;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main--button > svg{
  color: white;
  width: 30px;
}

.recipe--card--container{
  height: 400px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.recipe--image--container{
  height: 40%;
  border-radius: 10px;
}

.recipe--image--container > img{
  height: 160px;
  width: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.recipe--title{
  font-family: 'Bricolage Grotesque'; 
  font-size: 21px;
}

.recipe--text{
  padding: 10px;
}

.recipe--title--container{
  min-height: 78px;
}

.recipe--description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Rethink Sans";
  font-weight: 100;
  color: gray;
  font-size: 12px;
  margin-block-end: 0px;
}

.recipe--price{
  display: flex;
  flex-direction: row;
}

.recipe--price > h4{
  font-family: "Rethink Sans";
  padding-right: 5px;
  font-size: 30px;
  margin-block-start: 25px;
  margin-block-end: 0px;
}

.recipe--price > h5{
  font-family: "Rethink Sans";
  padding-right: 5px;
  font-size: 14px;
  margin-block-end: 0px;
}

.recipe--text > div{
  display: flex;
  flex-direction: row;
}

.recipe--text > div > img{
  height: 12px;
  opacity: .7;
  padding-right: 5px;
}

.logo--button{
  color: #C90D12;
  font-family: 'Noto Serif';
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5%;
  top: 35%;
  text-align: center;
  display: inline-block;
}

.sale--flag{
  color: white;
  font-family: 'Rethink Sans';
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  border: none;
  border-radius: 5px;
  height: 15px;
  width: 60px;
  position: absolute;
  left: 5%;
  top: 5%;
  text-justify: kashida;
  text-align: center;
}

.card--carousel--container{
  background-color: #DADADA;
  padding-bottom: 80px;
  padding-top: 20px;
}


.carousel .thumbs-wrapper {
  margin: 0 !important;
}

.carousel .thumbs {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.carousel .control-dots {
  margin-block-end: 0px;
  margin-bottom: 0px !important;
  background-color: #DADADA;
}

.card--carousel--button{
  width: 60px;
  height: 60px;
  border: none;
  background-color: white;
  border-radius: 40px;
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.card--carousel--button > svg {
  height: 20px;
}

.carousel--title{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}

.carousel--title > h1{
  font-family: 'Bricolage Grotesque';
  font-size: 50px;
  font-weight: 100;
  padding-left: 10px;
  margin-block-end: 10px;
}

.second--title{
  color: #C90D12;
  font-style: italic;
}

.carousel--description{
  padding-left: 40px;
  font-family: "Rethink Sans";
  color: gray;
}

.carousel--description > h5{
  font-weight: 100;
  font-size: 18px;
  margin-block-start: 0px;
}

.carousel--cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
}

.info--card--container{
  height: 150px;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.info--card--icon > svg{
  height: 30px;
}

.info--card--title > h2{
  font-family: "Rethink Sans";
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 20px;
}

.info--card--description > h4{
  font-family: "Rethink Sans";
  color: gray;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
  margin-block-start: 5px;
}

.form--container{
  background-color: #C90D12;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.form--text > h5{
  margin-block-start: 0px;
  font-family: "Rethink Sans";
}

.form--title > h2{
  color: white;
  font-family: 'Bricolage Grotesque';
  font-size: 45px;
  font-weight: 100;
  margin-block-start: 0px;
}

.form > span{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 650px;
  height: 60px;
  border-radius: 20px;
  position: relative;
}

.form > span > svg{
  padding-left: 20px;
  height: 20px;
}

.form > span > input{
  margin-left: 20px;
  width: 400px;
  text-indent: 5px;
  border: none;
  font-family: "Rethink Sans";
}

.form > span > input:active{
  border: none;
}

.form > span > button{
  background-color: black;
  border: none;
  width: 100px;
  height: 40px;
  right: 10px;
  border-radius: 10px;
  color: white;
  position: absolute;
  font-family: "Rethink Sans";
}

.footer--container{
  background-color: #DADADA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.footer--text > h5{
  margin-block-start: 0px;
  color: #C90D12;
  font-family: "Rethink Sans";
}

.footer--button{
  width: 300px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer--button > h4{
  margin-block-end: 0px;
  font-family: "Rethink Sans";
  font-weight: 500;
  text-align: center;
}

.footer--button > button{
  background-color: black;
  width: 70px;
  height: 100px;
  border: none;
  border-radius: 40px;
  box-shadow: 1px 1px 15px black;
}

.footer--button > button > svg{
  color: white;
  height: 25px;
}

.footer--buttons--container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.footer--title > h1{
  font-family: 'Bricolage Grotesque';
  font-size: 45px;
  font-weight: 500;
  margin-block-start: 0px;
}

.menu--container{
  display: none;
  grid-template-columns: auto auto auto auto;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 0px;
  padding: 10px;
}

.menu--item{
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.menu--item > h3{
  margin-block-end: 0px;
  margin-block-start: 0px;
  font-family: "Rethink Sans";
  padding-left: 20px;
  font-weight: 300;
  font-size: 16px;
}

.menu--item > svg{
  height: 30px;
}

.recipe--difficluty{
  font-family: "Rethink Sans";
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  padding-top: 10px;
  padding-left: 10px;
  color: gray;
}

.recipe--difficluty > svg{
  color: #C90D12;
  padding-right: 10px;
}

.recipe--difficluty > h4{
  font-weight: 100;
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.recipe--difficulty-level{
  font-weight: 600 !important;
  padding-left: 5px;
  color: black;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 13px;
}

.product--background{
  background-color: #DADADA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.product--image{
  padding: 10px;
  width: 55%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.product--image > img{
  width: 90%;
  border-radius: 20px;
}

.product--title{
  font-family: 'Bricolage Grotesque';
  width: 100%;
}

.product--title > h1{
  margin-block-end: 0px;
  font-size: 40px;
  font-weight: 400;
}

.product--info{
  width: 45%;
}

.product--dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 20px;
  height: 70px;
  width: 80%;
  margin-bottom: 10px;
  position: relative;
}

.product--dropdown > h1{
  font-family: 'Bricolage Grotesque';
  left: 20px;
  position: relative;
  font-size: 25px;
  font-weight: 600;

}

.product--dropdown > svg{
  right: 20px;
  position: absolute;
}

.quantity--title{
  font-family: "Rethink Sans";
  letter-spacing: 2px;
  color: gray;
}

.product--quantity{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity--button{
  background-color: #F5F5F5;
  height: 40px;
  width: 40px;
  border-radius: 15px;
  border: none;
  font-family: "Rethink Sans";
  font-size: 30px;
  margin-right: 10px;
}

.quantity--button > h4{
  margin-block-start: 0;
  font-weight: 100;
}

.product--extras{
  width: 120px;
  height: 120px;
  border-radius: 20px;
  background-color: white;
  margin-left: 15px;
  position: relative;
}

.product--extras > input{
  right: 5%;
  position: absolute;
  margin: 8%;
  height: 22px;
  accent-color: #C90D12;
}

.product--extras > svg{
  margin-left: 8%;
  margin-top: 30%;
}

.product--extras > h4{
  font-family: "Rethink Sans";
  font-size: 14px;
  color: gray;
  font-weight: 100;
  margin: 10px;
}

.maximize--button{
  right: 8%;
  bottom: 14%;
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.maximize--button > svg{
   height: 20px;
}

.quantity--container{
  height: 50px;
  width: 70px;
  border: black;
  background-color: #F5F5F5;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  font-family: "Rethink Sans";
  font-size: 20px;
  border-width: 1px;
  display: flex;
}

.quantity--container > h3{
  margin-block-start: 8px;
  font-weight: 200;
}

.add--to--cart{
  margin: 20px;
  background-color: black;
  color: white;
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-family: "Rethink Sans";
  font-weight: 100;
}

.add--to--cart > svg{
  margin-left: 10px;
}

.recipe--details{
  font-family: 'Bricolage Grotesque';
  margin-block-end: 0px;
  padding-left: 10px;
}

.recipe--divider{
  margin-left: 10px;
  width: 100%;
  height: 4px;
  background-color: #F3B31D;
  border: none;
  border-radius: 2px;
}

.right--pane{
  width: 70%;
}

.add--all--to--cart{
  margin: 10px;
  background-color: black;
  color: white;
  width: 230px;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: "Rethink Sans";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.add--all--to--cart > h4{
  font-weight: 100;
}

.add--all--to--cart > svg{
  margin-left: 10px;
}

.recipe--checkbox{
  accent-color: #C90D12;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.checkbox--label{
  font-family: "Rethink Sans";
  font-weight: 100;
  font-size: 13px;
}

.line{
  width: 90%;
  height: 1px;
  display: block;
  background-color: gray;
  margin: 10px;
}

.overview--text{
  font-family: "Rethink Sans";
  font-weight: 100;
  font-size: 20px;
  padding-left: 10px;
}

.pantry--essentials{
  font-family: "Rethink Sans";
  font-weight: 100;
  font-size: 14px;
  margin-left: 10px;
}

li::marker{
  font-size: 20px;
}

.recipe--image{
  padding: 10px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.recipe--image > img{
  width: 60%;
  border-radius: 20px;
}

.cart--item--container{
  height: 150px;
  width: 500px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart--image--container{
  height: 40%;
  border-radius: 10px;
}

.cart--image--container > img{
  height: 90px;
  width: 160px;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}

.cart--sale--flag{
  color: white;
  font-family: 'Rethink Sans';
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  border: none;
  border-radius: 5px;
  height: 15px;
  width: 60px;
  text-justify: kashida;
  text-align: center;
}

.cart--price{
  font-family: 'Rethink Sans';
  color:#C90D12;
  margin-block-start: 0px;
  margin-block-end: 5px;
}
